---

_You are currently looking at **version 1.2** of this notebook. To download notebooks and datafiles, as well as get help on Jupyter notebooks in the Coursera platform, visit the [Jupyter Notebook FAQ](https://www.coursera.org/learn/python-data-analysis/resources/0dhYG) course resource._

---

# Assignment 2 - Pandas Introduction
All questions are weighted the same in this assignment.
## Part 1
The following code loads the olympics dataset (olympics.csv), which was derrived from the Wikipedia entry on [All Time Olympic Games Medals](https://en.wikipedia.org/wiki/All-time_Olympic_Games_medal_table), and does some basic data cleaning. 

The columns are organized as # of Summer games, Summer medals, # of Winter games, Winter medals, total # number of games, total # of medals. Use this dataset to answer the questions below.

In [73]:
import pandas as pd

df = pd.read_csv('olympics.csv', index_col=0, skiprows=1)

for col in df.columns:
    if col[:2]=='01':
        df.rename(columns={col:'Gold'+col[4:]}, inplace=True)
    if col[:2]=='02':
        df.rename(columns={col:'Silver'+col[4:]}, inplace=True)
    if col[:2]=='03':
        df.rename(columns={col:'Bronze'+col[4:]}, inplace=True)
    if col[:1]=='№':
        df.rename(columns={col:'#'+col[1:]}, inplace=True)

names_ids = df.index.str.split('\s\(') # split the index by '('

df.index = names_ids.str[0] # the [0] element is the country name (new index) 
df['ID'] = names_ids.str[1].str[:3] # the [1] element is the abbreviation or ID (take first 3 characters from that)

df = df.drop('Totals')
df

,â„– Summer,Gold,Silver,Bronze,Total,â„– Winter,Gold.1,Silver.1,Bronze.1,Total.1,â„– Games,Gold.2,Silver.2,Bronze.2,Combined total,ID
AfghanistanÂ,13,0,0,2,2,0,0,0,0,0,13,0,0,2,2,AFG
AlgeriaÂ,12,5,2,8,15,3,0,0,0,0,15,5,2,8,15,ALG
ArgentinaÂ,23,18,24,28,70,18,0,0,0,0,41,18,24,28,70,ARG
ArmeniaÂ,5,1,2,9,12,6,0,0,0,0,11,1,2,9,12,ARM
AustralasiaÂ,2,3,4,5,12,0,0,0,0,0,2,3,4,5,12,ANZ
AustraliaÂ,25,139,152,177,468,18,5,3,4,12,43,144,155,181,480,AUS
AustriaÂ,26,18,33,35,86,22,59,78,81,218,48,77,111,116,304,AUT
AzerbaijanÂ,5,6,5,15,26,5,0,0,0,0,10,6,5,15,26,AZE
BahamasÂ,15,5,2,5,12,0,0,0,0,0,15,5,2,5,12,BAH
BahrainÂ,8,0,0,1,1,0,0,0,0,0,8,0,0,1,1,BRN
BarbadosÂ,11,0,0,1,1,0,0,0,0,0,11,0,0,1,1,BAR
BelarusÂ,5,12,24,39,75,6,6,4,5,15,11,18,28,44,90,BLR
BelgiumÂ,25,37,52,53,142,20,1,1,3,5,45,38,53,56,147,BEL
BermudaÂ,17,0,0,1,1,7,0,0,0,0,24,0,0,1,1,BER
BohemiaÂ,3,0,1,3,4,0,0,0,0,0,3,0,1,3,4,BOH
BotswanaÂ,9,0,1,0,1,0,0,0,0,0,9,0,1,0,1,BOT
BrazilÂ,21,23,30,55,108,7,0,0,0,0,28,23,30,55,108,BRA
British West IndiesÂ,1,0,0,2,2,0,0,0,0,0,1,0,0,2,2,BWI
BulgariaÂ,19,51,85,78,214,19,1,2,3,6,38,52,87,81,220,BUL
BurundiÂ,5,1,0,0,1,0,0,0,0,0,5,1,0,0,1,BDI
CameroonÂ,13,3,1,1,5,1,0,0,0,0,14,3,1,1,5,CMR
CanadaÂ,25,59,99,121,279,22,62,56,52,170,47,121,155,173,449,CAN
ChileÂ,22,2,7,4,13,16,0,0,0,0,38,2,7,4,13,CHI
ChinaÂ,9,201,146,126,473,10,12,22,19,53,19,213,168,145,526,CHN
ColombiaÂ,18,2,6,11,19,1,0,0,0,0,19,2,6,11,19,COL
Costa RicaÂ,14,1,1,2,4,6,0,0,0,0,20,1,1,2,4,CRC
Ivory CoastÂ,12,0,1,0,1,0,0,0,0,0,12,0,1,0,1,CIV
CroatiaÂ,6,6,7,10,23,7,4,6,1,11,13,10,13,11,34,CRO
CubaÂ,19,72,67,70,209,0,0,0,0,0,19,72,67,70,209,CUB
CyprusÂ,9,0,1,0,1,10,0,0,0,0,19,0,1,0,1,CYP
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
SpainÂ,22,37,59,35,131,19,1,0,1,2,41,38,59,36,133,ESP
Sri LankaÂ,16,0,2,0,2,0,0,0,0,0,16,0,2,0,2,SRI
SudanÂ,11,0,1,0,1,0,0,0,0,0,11,0,1,0,1,SUD
SurinameÂ,11,1,0,1,2,0,0,0,0,0,11,1,0,1,2,SUR
SwedenÂ,26,143,164,176,483,22,50,40,54,144,48,193,204,230,627,SWE
SwitzerlandÂ,27,47,73,65,185,22,50,40,48,138,49,97,113,113,323,SUI
SyriaÂ,12,1,1,1,3,0,0,0,0,0,12,1,1,1,3,SYR
Chinese TaipeiÂ,13,2,7,12,21,11,0,0,0,0,24,2,7,12,21,TPE
TajikistanÂ,5,0,1,2,3,4,0,0,0,0,9,0,1,2,3,TJK
TanzaniaÂ,12,0,2,0,2,0,0,0,0,0,12,0,2,0,2,TAN
ThailandÂ,15,7,6,11,24,3,0,0,0,0,18,7,6,11,24,THA
TogoÂ,9,0,0,1,1,1,0,0,0,0,10,0,0,1,1,TOG
TongaÂ,8,0,1,0,1,1,0,0,0,0,9,0,1,0,1,TGA
Trinidad and TobagoÂ,16,2,5,11,18,3,0,0,0,0,19,2,5,11,18,TRI
TunisiaÂ,13,3,3,4,10,0,0,0,0,0,13,3,3,4,10,TUN
TurkeyÂ,21,39,25,24,88,16,0,0,0,0,37,39,25,24,88,TUR
UgandaÂ,14,2,3,2,7,0,0,0,0,0,14,2,3,2,7,UGA
UkraineÂ,5,33,27,55,115,6,2,1,4,7,11,35,28,59,122,UKR
United Arab EmiratesÂ,8,1,0,0,1,0,0,0,0,0,8,1,0,0,1,UAE
United StatesÂ,26,976,757,666,2399,22,96,102,84,282,48,1072,859,750,2681,USA
UruguayÂ,20,2,2,6,10,1,0,0,0,0,21,2,2,6,10,URU
UzbekistanÂ,5,5,5,10,20,6,1,0,0,1,11,6,5,10,21,UZB
VenezuelaÂ,17,2,2,8,12,4,0,0,0,0,21,2,2,8,12,VEN
VietnamÂ,14,0,2,0,2,0,0,0,0,0,14,0,2,0,2,VIE
Virgin IslandsÂ,11,0,1,0,1,7,0,0,0,0,18,0,1,0,1,ISV
YugoslaviaÂ,16,26,29,28,83,14,0,3,1,4,30,26,32,29,87,YUG
Independent Olympic ParticipantsÂ,1,0,1,2,3,0,0,0,0,0,1,0,1,2,3,IOP
ZambiaÂ,12,0,1,1,2,0,0,0,0,0,12,0,1,1,2,ZAM
ZimbabweÂ,12,3,4,1,8,1,0,0,0,0,13,3,4,1,8,ZIM
Mixed teamÂ,3,8,5,4,17,0,0,0,0,0,3,8,5,4,17,ZZX

### Question 0 (Example)

What is the first country in df?

*This function should return a Series.*

In [74]:
# You should write your whole answer within the function provided. The autograder will call
# this function and compare the return value against the correct solution value
def answer_zero():
    # This function returns the row for Afghanistan, which is a Series object. The assignment
    # question description will tell you the general format the autograder is expecting
    return df.iloc[0]

# You can examine what your function returns by calling it in the cell. If you have questions
# about the assignment formats, check out the discussion forums for any FAQs
answer_zero()

â„– Summer         13
Gold                0
Silver              0
Bronze              2
Total               2
â„– Winter          0
Gold.1              0
Silver.1            0
Bronze.1            0
Total.1             0
â„– Games          13
Gold.2              0
Silver.2            0
Bronze.2            2
Combined total      2
ID                AFG
Name: AfghanistanÂ, dtype: object

### Question 1
Which country has won the most gold medals in summer games?

*This function should return a single string value.*

In [75]:
def answer_one():
    return df['Gold'].argmax()

answer_one()

'United StatesÂ'

### Question 2
Which country had the biggest difference between their summer and winter gold medal counts?

*This function should return a single string value.*

In [76]:
def answer_two():
    val = df['Gold'] - df['Gold.1']
    return val.abs().argmax()

answer_two()

'United StatesÂ'

### Question 3
Which country has the biggest difference between their summer gold medal counts and winter gold medal counts relative to their total gold medal count? 

$$\frac{Summer~Gold - Winter~Gold}{Total~Gold}$$

Only include countries that have won at least 1 gold in both summer and winter.

*This function should return a single string value.*

In [77]:
def answer_three():
    new_df = df[(df['Gold'] >= 1) & (df['Gold.1'] >= 1)]
    relative = (new_df['Gold'] - new_df['Gold.1']) / new_df['Gold.2']
    relative.abs().argmax()
    return relative.abs().argmax()


answer_three()

'BulgariaÂ'

### Question 4
Write a function that creates a Series called "Points" which is a weighted value where each gold medal (`Gold.2`) counts for 3 points, silver medals (`Silver.2`) for 2 points, and bronze medals (`Bronze.2`) for 1 point. The function should return only the column (a Series object) which you created, with the country names as indices.

*This function should return a Series named `Points` of length 146*

In [78]:
def answer_four():
    return pd.Series(data = df['Gold.2'] * 3 + df['Silver.2'] * 2 + df['Bronze.2'], name = 'Points')

answer_four()

AfghanistanÂ                            2
AlgeriaÂ                               27
ArgentinaÂ                            130
ArmeniaÂ                               16
AustralasiaÂ                           22
AustraliaÂ                            923
AustriaÂ                              569
AzerbaijanÂ                            43
BahamasÂ                               24
BahrainÂ                                1
BarbadosÂ                               1
BelarusÂ                              154
BelgiumÂ                              276
BermudaÂ                                1
BohemiaÂ                                5
BotswanaÂ                               2
BrazilÂ                               184
British West IndiesÂ                    2
BulgariaÂ                             411
BurundiÂ                                3
CameroonÂ                              12
CanadaÂ                               846
ChileÂ                                 24
ChinaÂ                               1120
ColombiaÂ                              29
Costa RicaÂ                             7
Ivory CoastÂ                            2
CroatiaÂ                               67
CubaÂ                                 420
CyprusÂ                                 2
                                     ...
SpainÂ                                268
Sri LankaÂ                              4
SudanÂ                                  2
SurinameÂ                               4
SwedenÂ                              1217
SwitzerlandÂ                          630
SyriaÂ                                  6
Chinese TaipeiÂ                        32
TajikistanÂ                             4
TanzaniaÂ                               4
ThailandÂ                              44
TogoÂ                                   1
TongaÂ                                  2
Trinidad and TobagoÂ                   27
TunisiaÂ                               19
TurkeyÂ                               191
UgandaÂ                                14
UkraineÂ                              220
United Arab EmiratesÂ                   3
United StatesÂ                       5684
UruguayÂ                               16
UzbekistanÂ                            38
VenezuelaÂ                             18
VietnamÂ                                4
Virgin IslandsÂ                         2
YugoslaviaÂ                           171
Independent Olympic ParticipantsÂ       4
ZambiaÂ                                 3
ZimbabweÂ                              18
Mixed teamÂ                            38
Name: Points, Length: 146, dtype: int64

## Part 2
For the next set of questions, we will be using census data from the [United States Census Bureau](http://www.census.gov). Counties are political and geographic subdivisions of states in the United States. This dataset contains population data for counties and states in the US from 2010 to 2015. [See this document](https://www2.census.gov/programs-surveys/popest/technical-documentation/file-layouts/2010-2015/co-est2015-alldata.pdf) for a description of the variable names.

The census dataset (census.csv) should be loaded as census_df. Answer questions using this as appropriate.

### Question 5
Which state has the most counties in it? (hint: consider the sumlevel key carefully! You'll need this for future questions too...)

*This function should return a single string value.*

In [79]:
census_df = pd.read_csv('census.csv')
census_df.head()

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
0,40,3,6,1,0,Alabama,Alabama,4779736,4780127,4785161,...,0.002295,-0.193196,0.381066,0.582002,-0.467369,1.030015,0.826644,1.383282,1.724718,0.712594
1,50,3,6,1,1,Alabama,Autauga County,54571,54571,54660,...,7.242091,-2.915927,-3.012349,2.265971,-2.530799,7.606016,-2.626146,-2.722002,2.592270,-2.187333
2,50,3,6,1,3,Alabama,Baldwin County,182265,182265,183193,...,14.832960,17.647293,21.845705,19.243287,17.197872,15.844176,18.559627,22.727626,20.317142,18.293499
3,50,3,6,1,5,Alabama,Barbour County,27457,27457,27341,...,-4.728132,-2.500690,-7.056824,-3.904217,-10.543299,-4.874741,-2.758113,-7.167664,-3.978583,-10.543299
4,50,3,6,1,7,Alabama,Bibb County,22915,22919,22861,...,-5.527043,-5.068871,-6.201001,-0.177537,0.177258,-5.088389,-4.363636,-5.403729,0.754533,1.107861

In [80]:
def answer_five():
    return census_df[census_df['SUMLEV'] == 50].groupby('STNAME').size().argmax()
answer_five()

'Texas'

### Question 6
**Only looking at the three most populous counties for each state**, what are the three most populous states (in order of highest population to lowest population)? Use `CENSUS2010POP`.

*This function should return a list of string values.*

In [81]:
def answer_six():
    val = census_df[census_df['SUMLEV'] == 50].groupby('STNAME').apply(lambda _df: _df.sort_values('CENSUS2010POP', ascending = False)[:3])
    
    val2 = pd.Series(val.groupby(level = 0)['CENSUS2010POP'].sum()).sort_values(ascending = False).index[:3]
    # depois de agrupado, para pegar os ja agrupados grupos: groupby level = 0
    resp = val2.tolist()
    return resp

answer_six()

['California', 'Texas', 'Illinois']

### Question 7
Which county has had the largest absolute change in population within the period 2010-2015? (Hint: population values are stored in columns POPESTIMATE2010 through POPESTIMATE2015, you need to consider all six columns.)

e.g. If County Population in the 5 year period is 100, 120, 80, 105, 100, 130, then its largest change in the period would be |130-80| = 50.

*This function should return a single string value.*

In [82]:
def answer_seven():
    val = census_df[census_df['SUMLEV'] == 50][['COUNTY', 'POPESTIMATE2010', 'POPESTIMATE2011', 'POPESTIMATE2012', 'POPESTIMATE2013', 'POPESTIMATE2014', 'POPESTIMATE2015']].set_index('COUNTY')
    val['diff'] = (val.max(axis = 1) - val.min(axis = 1)).abs()
    resp = str(val.sort_values('diff', ascending = False).head(1).index[0])
    return resp

answer_seven()

'201'

### Question 8
In this datafile, the United States is broken up into four regions using the "REGION" column. 

Create a query that finds the counties that belong to regions 1 or 2, whose name starts with 'Washington', and whose POPESTIMATE2015 was greater than their POPESTIMATE 2014.

*This function should return a 5x2 DataFrame with the columns = ['STNAME', 'CTYNAME'] and the same index ID as the census_df (sorted ascending by index).*

In [83]:
def answer_eight():
    # pegar rows que sao = 1 ou 2
    val = census_df[(census_df['SUMLEV'] == 50) & ((census_df['REGION'] == 1) | (census_df['REGION'] == 2))]
    # pegar rows que comecam com 'Washington'
    val2 = val[val['CTYNAME'].str.startswith('Washington')]
    # popestimate2015 > popestimate2014
    val3 = val2[val2['POPESTIMATE2015'] > val2['POPESTIMATE2014']][['STNAME', 'CTYNAME']].sort_index()
    return val3

answer_eight()

            STNAME            CTYNAME
896           Iowa  Washington County
1419     Minnesota  Washington County
2345  Pennsylvania  Washington County
2355  Rhode Island  Washington County
3163     Wisconsin  Washington County